.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size:33px;
    border: 5px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
}
button{
    font-size: 35px;
    background: rgb(231, 236, 236);
    width: 102px;
    height: 68px;
    border-radius: 45px;
    cursor: pointer;
    margin: 3px;
}
.calculator{
    display: inline-block;
    border-radius: 53px;
    background-color: rgb(156, 172, 146);
    padding: 23px;
    border: 2px solid black;
}
h1{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}